<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/StaticReservationForm.css" th:href="@{/css/StaticReservationForm.css}" type="text/css">
    <script src="/static/js/scriptDateTimePicker.js" th:src="@{/js/scriptDateTimePicker.js}"></script>
</head>
<body>

<header>

    <hgroup class="welcome">
        <h3>Rezerwacja online</h3>

    </hgroup>
</header>

<form th:action="@{/reservation/addReservation}" method="post" th:object="${reservation}">
    <label>Wybierz seans</label><br>
    <select class="select"  th:field="*{movieShow}" required>
        <optgroup th:each="movie : ${movieList}" th:label="${movie.name}">
            <option th:each="movieShow : ${movie.movieShowList}" th:value="${movieShow.id}" th:text="${movieShow.name}" th:text="${movieShow.pattern} "></option>
        </optgroup>
    </select><br>
    <br>

    <div>
        <button class="reg" type="submit" value="Rezerwacja">Rezerwacja</button>
    </div><br>
    <div>
        <a class="home" th:href="@{/}">Strona główna</a>
    </div>
</form>
</body>
</html>