<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments/navbar :: nav"/>
<form th:action="@{/admin/addMovie}" method="post" th:object="${movie}">
    <label>Enter category</label><br>
    <input type="text" th:field="*{name}" required maxlength="40"><br>
    <button class="add" type="submit" value="Add">Add</button>
    <a class="home" th:href="@{main}">Back home</a>
</form>
</body>
</html>