<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MovieShow</title>
</head>
<body>
<th:block th:replace="navbar :: nav"/>
<form th:action="@{/admin/addMovieShow}" method="post" th:object="${movieshow}">
    <label>Write name subCategory</label><br>
    <label>Write price</label><br>
    <label>Enter category</label><br>
    <select th:field="*{movie}">
        <option value=""> --</option>
        <option th:each="movie : ${movie}"
                th:value="${movie.id}"
                th:text="${movie.title}"
                th:text = "${movie.description}"></option>
    </select><br>

    <button type="submit" value="Add">Add</button>
    <a class="home" th:href="@{main}">Back home</a>
</form>

</body>
</html>