<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="nav">
    <ul id="menu">
        <li><a th:href="@{main}">Admin panel</a></li>
        <li>
            <a>Categories</a>
            <ul>
                <li><a th:href="@{addMovie}">Add movie</a></li>
                <li><a th:href="@{addMovieShow}">Add movieShow</a></li>
            </ul>
        </li>
        <li><a th:href="@{reservation}">Reservations</a></li>
        <li><a th:href="@{/logout}">Log out</a></li>
    </ul>
</th:block>
</body>
</html>