<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="navbar :: nav"/>
<form th:action="@{/admin/reservationListForm}" method="get" th:object="${reservation}">
    <table id="reservation">
        <thead>
        <tr>
            <th>Name user</th>
            <th>Surname user</th>
            <th>Movie Show</th>
            <th>Date & Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="reservation : ${reservations}">
        <tr>
            <td th:text="${reservation.user.name}"></td>
            <td th:text="${reservation.user.surname}"></td>
            <td th:text="${reservation.movieShow.movie.title}"></td>
            <td th:text="${reservation.movieShow.dateTime}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>