<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>upadateForm</title>
</head>
<body>
<main>
    <section class="sekcja">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <form id="login" th:action="@{/update/{id} (id = ${user.id})}" method="post"
                          th:object="${user}">

                        <header>
                            <h3>Moje konto</h3>
                            <p>Zmiana danych</p>
                        </header>

                        <div class="line"></div>
                        <div class="inputs">

                            <input type="text" name="name" placeholder="Imię" autofocus th:field="*{name}" maxlength="40" required>

                            <input type="text" name="surname" placeholder="Nazwisko" maxlength="60" required autofocus
                                   th:field="*{surname}" >

                            <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email" required autofocus th:field="*{email}" >


                            <button type="submit" value="Zmień">Zatwierdź zmianę danych</button>
                            <a id="przycisk" onclick="goBack()">Powrot do strony glownej</a>
                        </div>
                    </form>
                </div>
            </div>

            <footer> Project designers Andrzej, Patryk &copy;</footer>
        </div>
    </section>
</main>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>